.divLateral {
  position: relative;	
  color: azure;
  background-color: #000;
}

.Meio {
  margin-top: 35px;
  width: 100%;
  position: relative;	
  font-size: 45px;
  text-align: center;
  color: azure;
}

.Titulo {
  margin-top: 5%;
  color: azure;
  font-size: 8vw;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.550);
  padding: 150px;
}

body {
  background-image: url("../../imagens/fundo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  align-items: center;
}

.tituloMonitor{
  font: 45px;
  color: white;
  font-style: oblique;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.550);
  margin-left: -11px;
}

.fundo{
  background-color: rgba(0, 0, 0, 0.550);
  margin-left: -11px;
  color: white;
  text-align: center;
}

