  .ifsc{
    width: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 1px;
    margin: 7px;
    float: right;
  }

  .epagri{
    width: 45px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 1px;
    margin: 7px;
    float: right;
  }

  .fapesc{
    width: 80px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 1px;
    margin: 7px;
    float: right;
  }